.main {
  padding: var(--spacing-xlarge) var(--spacing-xlarge);
  position: relative;
  top: -50px;
  :global {
    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
      background-color: var(--primary-7);
      height: 3.5px;
    }
  }
}
