.webhookConditionsContainer {
  // chagne Icon positioning in PayloadConditionsSection
  // if width changes
  width: 800px !important;
  padding: var(--spacing-large) var(--spacing-xxlarge) !important;
  .heading {
    margin: 0;
  }
}

.conditionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    width: 240px;
  }
}

.addConditionsRow {
  width: 750px;
}

.jexlCondition {
  textarea {
    max-height: 500px;
    min-height: 60px;
    resize: vertical;
  }
  width: 100%;
  label {
    font-weight: bold;
    font-size: 18px !important;
  }
}
