.main {
  margin-top: var(--spacing-medium) !important;
  .primaryNodes,
  .canaryNodes {
    width: 100% !important;
    &:first-child {
      margin-bottom: var(--spacing-large) !important;
    }
  }

  .details {
    color: var(--grey-400) !important;
    font-size: var(--font-size-small) !important;
    margin-bottom: var(--spacing-medium) !important;
  }
}
