.email {
  min-width: 192px;
  width: 192px;
}

.radiobuttongrid {
  //padding-left: var(--spacing-medium);
  display: grid;
  grid-template-columns: auto 296px;
  grid-template-rows: repeat(4, auto);

  input[type='radio']:after {
    background-color: var(--primary-3);
    color: var(--primary-3);
  }

  input {
    position: unset;
  }
}

.input_margin {
  margin-bottom: 0 !important;
}

.textheight {
  min-height: 85px;
  border-radius: 4px;
  margin-bottom: var(--spacing-4);
}

.buttonfix {
  :global(.bp3-button-text) {
    white-space: nowrap;
  }
}

.radiolocation {
  grid-column: 1;
  display: flex;
  align-items: center;
  .bp3-indicator :before {
    color: var(--primary-3);
  }
}

.radiodescription {
  grid-column: 2;
}
.low {
  grid-row: 1;
}

.normal {
  grid-row: 2;
}

.high {
  grid-row: 3;
}

.urgent {
  grid-row: 4;
}
