.cardRow {
  display: flex;
  margin-bottom: var(--spacing-large);
  justify-content: space-between;
  .cardT {
    .textInfo {
      margin: var(--spacing-small) var(--spacing-small) var(--spacing-small) var(--spacing-large);
    }
  }

  .selectedCard {
    background-color: #dceeff;
  }

  :global {
    .bp3-card {
      width: 48%;
    }
  }
}
