.containerProps {
  table {
    border: 0px !important;
  }
  :global {
    .FieldArray--noData {
      border: 0px !important;
    }
  }
}

.userName {
  border: 1px solid var(--bp3-intent-color, #dddddd) !important;
  border-radius: 4px;
  padding: 2px !important;
}

.roleAssignments {
  height: 400px;
  overflow: scroll;
}

.toEnd {
  justify-content: space-between !important;
}
.roleButton {
  width: 185px !important;
  padding: var(--spacing-none) var(--spacing-small) !important;
  color: var(--grey-600) !important;
  p {
    color: var(--grey-600) !important;
  }
}
.menuHeight {
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
