.connector {
  margin-bottom: var(--spacing-medium) !important;
  margin-top: var(--spacing-xsmall) !important;

  :global {
    input[placeholder='<+input>'] {
      width: 390px !important;
    }
  }
}

.connectorLabel {
  padding-bottom: 0 !important;
}

.deploymentViewMedium {
  width: 50%;
}
.buttonMarginBottom {
  margin: 0px 0px 5px !important;
}
.buttonMarginTop {
  margin: 5px 0px 0px !important;
}
