.main {
  width: 100% !important;

  .transactionMetric {
  }

  .scrollArrow {
    flex-basis: 20px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .scrollArrowPlaceholder {
    flex-basis: 30px;
    flex-shrink: 0;
    max-height: 100% !important;
    height: 100% !important;
    margin: 0 var(--spacing-xsmall) !important;
  }

  .graphs {
    overflow: hidden;
    flex-basis: 100%;
    flex-grow: 1;

    > div {
      display: inline-block;
      margin-right: var(--spacing-xsmall) !important;
    }

    svg > g path[class='highcharts-area'] {
      opacity: 0.2 !important;
    }
  }
}

.nodeDetails {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-small) !important;
  p {
    font-size: var(--font-size-small) !important;
  }

  > div {
    margin-right: var(--spacing-large) !important;

    > p:first-child {
      margin-bottom: var(--spacing-xsmall);
    }
  }
}

.metricRisk {
  color: var(--risk-color) !important;
  border: 1px solid var(--risk-color);
  padding: var(--spacing-xsmall) !important;
  width: fit-content;
  border-radius: 4px;

  &Healthy {
    --risk-color: var(--green-500);
  }
  &Warning {
    --risk-color: var(--orange-600);
  }
  &NoAnalysis {
    --risk-color: var(--grey-500);
  }
  &NoData {
    --risk-color: var(--grey-500);
  }
  &Observe {
    --risk-color: var(--yellow-800);
  }
  &Unhealthy {
    --risk-color: var(--red-600);
  }
}
