.wizardShell {
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: var(--form-bg);

  [class*='OverlaySpinner'] {
    width: 100%;
  }

  .tabsContainer {
    // background: #fbfcfd;
    display: flex;
    justify-content: flex-start;

    :global {
      [class*='FormikForm'] > div > [class*='bp3-tabs'] {
        .bp3-tab {
          margin: var(--spacing-small) 0 !important;
          min-width: 140px;
          padding: 0 var(--spacing-medium);
          text-align: center;
        }
        > .bp3-tab-list {
          // background-color: var(--white);
          // justify-content: center;
          // width: 1000px;
          // border-bottom: 0;
          // border-bottom-color: transparent !important;
          position: sticky;
          top: 36px;
          z-index: 1;
          border-bottom: 1px solid rgba(0, 0, 0, 0.13);
          background-color: var(--white);
          padding-bottom: 3px;
          padding-left: var(--spacing-large);
        }
        > .bp3-tab-panel {
          width: 1000px;
          // padding-top: var(--spacing-huge);
          // margin-top: 0;
          // z-index: 0;
          // background-color: #fbfcfd;
          // > div {
          //   background-color: var(--white);
          //   margin-top: 20px;
          //   border-left: none;
          //   border-right: none;
          //   box-shadow: 0px 0.5px 2px rgba(96, 97, 112, 0.16);
          // }
        }
      }
    }
    .tab {
      span[class*='bp3-icon'] {
        margin-right: var(--spacing-small);
      }
    }
    .tabPanel {
      width: 1000px;
    }

    .yamlContainer {
      padding: var(--spacing-xlarge);
    }
  }
  .positionInHeader {
    position: relative;
    top: -10px;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-xxlarge) !important;
    p:hover {
      cursor: pointer;
      color: var(--grey-700);
    }
    .cancel {
      margin-left: var(--spacing-xlarge) !important;
    }
  }
}
// .headerLine {
//   height: 51px;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.13);
//   // position: fixed;
//   width: 100%;
//   background-color: var(--white);
//   z-index: 1;
// }

.transparentBlock {
  height: 20px;
  width: 100%;
  background: red;
}

.footerLine {
  height: 63px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.extendedNav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: var(--spacing-xsmall) 0;
  align-items: center;
}

.sideItems {
  width: 500px;
}
