.children {
  height: 100vh;
  min-height: 100%;
  overflow: auto;
  background-color: var(--grey-50);
}

.main {
  display: grid;
  grid-template-columns: 90px auto 1fr;

  &[data-layout='minimal'] {
    grid-template-columns: 90px 1fr;
  }

  &[data-layout='empty'] {
    grid-template-columns: 1fr;
  }
}

.layout {
  width: 180px;
  height: 100%;
  transition: all 0.3s ease;
}

.layout.is-nav-closed {
  width: 0px;
  opacity: 0;
}

.closeButton {
  position: absolute;
  bottom: 10px;
  z-index: 9;
  background-color: var(--gray-200) !important;
  width: 21px !important;
  height: 35px !important;
  border-top-left-radius: 18px !important;
  border-bottom-left-radius: 18px !important;
  border: none;
}

.openButton {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: var(--gray-200);
  width: 21px !important;
  height: 35px !important;
  opacity: 0.4;
}
