.item {
  .editBtn {
    visibility: hidden;
  }

  .leftInfo {
    flex: 1;
    flex-shrink: unset !important;
    .secretIcon {
      > svg {
        > path {
          fill: var(--primary-7);
        }
      }
    }

    .iconCheck {
      visibility: hidden;
      margin-right: var(--spacing-small);
      cursor: pointer;
      > svg {
        > path {
          stroke-width: 1;
          stroke: var(--grey-500);
        }
      }
    }
    .iconChecked {
      visibility: visible !important;
      padding-top: 10px !important;
      > svg {
        > path {
          stroke: var(--primary-7);
        }
      }
    }

    &:hover {
      .iconCheck {
        padding-top: 10px !important;
        visibility: visible;
      }
    }
  }
  &:hover {
    .editBtn {
      color: var(--grey-600) !important;
      visibility: visible;
    }
  }
}

.popoverWidth {
  max-width: 60px;
  :global {
    .bp3-menu {
      min-width: 60px;
    }
  }
}
.selectButton {
  padding-bottom: 6px !important;
  color: var(--black) !important;
}
.noDataCardContainerSecret {
  height: 100% !important;
  margin-top: 0px !important;
}
.secretRefContainer {
  width: 100% !important;
  margin: 15px 0;
}
.createSecretsBtnLayout {
  border-bottom: 1px var(--grey-200) solid;
}
