.projectInsights {
  .heatmap {
    background: var(--grey-0) !important;
    :global {
      .bp3-popover-wrapper {
        position: absolute;
        right: 0px;
        width: 190px !important;
        margin-top: var(--spacing-small);
      }
      .bp3-button-text {
        font-size: var(--font-size-normal) !important;
      }
    }
  }
  .panel {
    height: 570px;
    overflow: scroll;
    :global {
      .MuiTimelineItem-oppositeContent {
        flex: none !important;
        margin-left: 100px !important;
      }
    }
  }
  .user {
    align-self: center;
    position: absolute;
    right: 20px;
  }
}
