{
  "swagger": "2.0",
  "info": {
    "description": "Asaasin API documentation",
    "version": "1.0.0",
    "title": "Asaasin APIs",
    "contact": {
      "email": "navaneeth@lightwing.io"
    }
  },
  "host": "api.lightwing.io",
  "basePath": "/orgs",
  "tags": [
    {
      "name": "services",
      "description": "Auto-stopping APIs"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/github/details": {
      "get": {
        "tags": ["githubDetails"],
        "summary": "Gets githubDetails",
        "description": "githubDetails",
        "operationId": "githubDetails",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/GithubDetailsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/pagerduty/savings": {
      "get": {
        "tags": ["pagerdutySavings"],
        "summary": "Get pagerduty savings",
        "description": "pagerdutySavings",
        "operationId": "pagerdutySavings",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PagerDutySavingsResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    }
  },
  "definitions": {
    "GithubMember": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "login": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        },
        "contributions": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "GithubOrg": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "login": {
          "type": "string"
        },
        "public_repos": {
          "type": "integer",
          "format": "int64"
        },
        "total_private_repos": {
          "type": "integer",
          "format": "int64"
        },
        "two_factor_requirement_enabled": {
          "type": "boolean"
        },
        "plan": {
          "type": "object",
          "$ref": "#/definitions/GithubPlan"
        }
      }
    },
    "GithubPlan": {
      "type": "object",
      "properties": {
        "seats": {
          "type": "integer",
          "format": "int64"
        },
        "filled_seats": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GithubRecommendations": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "level": {
          "type": "integer",
          "format": "int64"
        },
        "savings": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GithubDetailsResponse": {
      "type": "object",
      "properties": {
        "org": {
          "type": "object",
          "$ref": "#/definitions/GithubOrg"
        },
        "members": { "type": "list", "items": { "type": "object", "$ref": "#/definitions/GithubMember" } },
        "inactive_members": { "type": "list", "items": { "type": "object", "$ref": "#/definitions/GithubMember" } },
        "rarely_active_members": {
          "type": "list",
          "items": { "type": "object", "$ref": "#/definitions/GithubMember" }
        },
        "recommendations": {
          "type": "list",
          "items": { "type": "object", "$ref": "#/definitions/GithubRecommendations" }
        }
      }
    },
    "PagerDutySavings": {
      "type": "object",
      "properties": {
        "current_spend": {
          "type": "number",
          "format": "float"
        },
        "potential_spend": {
          "type": "number",
          "format": "float"
        },
        "potential_savings": {
          "type": "number",
          "format": "float"
        },
        "savings_percent": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "PagerDutyRecommendations": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "level": {
          "type": "integer",
          "format": "int64"
        },
        "savings": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "PagerDutySavingsResponse": {
      "type": "object",
      "properties": {
        "total_users": {
          "type": "integer",
          "format": "int64"
        },
        "active_users": {
          "type": "integer",
          "format": "int64"
        },
        "monthly_savings": {
          "type": "object",
          "$ref": "#/definitions/PagerDutySavings"
        },
        "yearly_savings": {
          "type": "object",
          "$ref": "#/definitions/PagerDutySavings"
        },
        "recommendations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PagerDutyRecommendations"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
