{
  "swagger": "2.0",
  "info": {
    "description": "Asaasin API documentation",
    "version": "1.0.0",
    "title": "Asaasin APIs",
    "contact": {
      "email": "navaneeth@lightwing.io"
    }
  },
  "host": "api.lightwing.io",
  "basePath": "/orgs",
  "tags": [
    {
      "name": "services",
      "description": "Auto-stopping APIs"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/github/all_users": {
      "get": {
        "tags": ["allGithubUsers"],
        "summary": "Gets allGithubUsers",
        "description": "allGithubUsers",
        "operationId": "allGithubUsers",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AllGithubUsersResponse"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    }
  },
  "definitions": {
    "GithubMember": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "login": {
          "type": "string"
        },
        "avatar_url": {
          "type": "string"
        }
      }
    },
    "AllGithubUsersResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "$ref": "#/definitions/GithubMember"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
