.timeRangeSelect {
  position: absolute !important;
  top: -48px;
  right: 0;
  width: 150px !important;
}

.atGlanceWrapper {
  height: 248px;
}

.topProjectContainer {
  width: 100%;
}

.topProjectsWrapper {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
