.dialog {
  border-radius: 11px;
  position: relative;
  padding: unset !important;
  &.confirmed {
    width: 1100px;
  }
  &.unconfirmed {
    width: 700px;
    background-color: var(--primary-bg) !important;
  }
}

.subscribeInfo {
  border-radius: 11px;
  width: 700px;
  background-color: var(--primary-bg) !important;
}

.paymentInfo {
  border-radius: 11px;
  width: 400px !important;
}

.footer {
  padding: var(--spacing-medium) !important;
}

.terms {
  text-align: center;
}
