.cardContainer {
  display: grid;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, 128px);

  .card {
    width: 128px;
    height: 128px;
    box-shadow: var(--card-shadow);
    border-radius: 5px;
  }
}

.myGroupsCardContainer {
  display: grid;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(2, 1fr);

  .card {
    height: 64px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--card-box-shadow);
    border-radius: 5px;
    padding: var(--spacing-medium);
  }
}
